@import url('https://fonts.googleapis.com/css?family=Arimo:400,700');

body {font-family: 'Arimo', sans-serif;}
h1, h2, h3 {
  font-family: 'Arimo';
  font-weight: normal;
}


.title-slide .remark-slide-number {display: none;}
.title-slide .title {
  font-size: 200%;
  font-weight: bold;
}

.title-slide .banner img {opacity: 0.4;}

.title-slide .author {
  font-size: 140%;
  font-weight: regular;
  line-height: 1.5em;
}

.title-slide .other-info {
  font-size: 120%;
  font-weight: regular;
  line-height: 1.3em;
}

.column:first-of-type {float:left;}
.column:last-of-type {float:right;}

.split-40 .column:first-of-type {width: 40%;}
.split-40 .column:last-of-type {width: 60%;}
.split-50 .column:first-of-type {width: 50%;}
.split-50 .column:last-of-type {width: 50%;}
.split-60 .column:first-of-type {width: 60%;}
.split-60 .column:last-of-type {width: 40%;}

.image-30 img {width: 30%;}
.image-40 img {width: 40%;}
.image-50 img {width: 50%;}
.image-60 img {width: 60%;}
.image-70 img {width: 70$;}
