.hcb_image img {
  max-height: 756px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hcb_double_img img {
  max-width: 40%;
  max-height: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hcb_image_smaller img {
  max-width: 80%;
  max-height: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hcb_bigger_image img {
  max-width: 90%;
  max-height: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
slides {
  font-family: "HelveticaNeue-Light", "HelveticaNeue Light", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}